* {
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 300px;
  color: #fff;
  font-size: 2rem;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.top-box {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.top-box .weather {
  color: #fff;
  font-size: 1.5rem;
}
.top-box .reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top-box .reset button {
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}
.top-box .reset button:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}
.clock-box {
  color: #fff;
  font-size: 7rem;
  font-weight: bold;
}
.input-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}
.input-box .name {
  width: 100%;
  text-align: center;
  /* display: none; */
  border: none;
  color: #fff;
  font-size: 2rem;
}
.todo-box {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.todo-box .add-box {
  width: 100%;
  padding-bottom: 20px;
}
.todo-box .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.todo-box .title .title-pending,
.todo-box .title .title-finished,
.todo-box .finished-box,
.todo-box .pending-box {
  width: 50%;
}
.todo-box .pending-box span {
  display: block;
}
.todo-box .finished-box span {
  display: block;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list span {
  padding-right: 10px;
}
.list button {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}
